*{
    padding:0;
    margin:0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
body {
    padding:0;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:16px;
    background-color:cornsilk;
}
.container{
    width:100%;
    height:auto;
    background-color:#ffffff;
}
.schooltitle{
    width:100%;
    height:80px;
    text-align:center;
    background-color:#05969b;
    padding-top:20px;
    color:#ffffff;
}
.schooltitle h1{
    /*box-shadow: 0 0 5px aqua;*/
}
header{
    height:90px;
    width:100%;
    /*background-color:#05969b;*/
}
.logo{
    float:left;
    margin-left:2%;
}
.schooltag{
    color:#05969b;
}
.mainnav{
    list-style-type:none;
    float:right;
    padding-top:30px;
}
.mainnav li{
    display:inline;
    padding:20px;
}
.mainnav li a{
    text-decoration:none;
    color:#05969b;
    font-weight:bold;
    font-size:20px;
}
.mainnav li a.active{
    color:aqua;
}
.mainnav li a:hover{
    color:aqua;
    letter-spacing:2px;
    transition:2s all;
    margin-left: -10px;
}
.nav-btn{
    float:right;
    color:#05969b;
    font-size:20px;
    font-weight:bold;
    display:none;
    padding:0px 20px;
    cursor:pointer;
}
.image{
    position:relative;
    width:100%;
    height:500px;
}
#images{
    position:absolute;
    left:0;

}

.fade {
  animation:fade 2.5s;
}


/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}*/

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#left{
    position:absolute;
    width:100px;
    height:500px;
    top:0;
    left:0;
    /*background-color:blue;*/
}
#left a{
    position:absolute;
    left:0;
    top:40%;
    font-weight:bold;
    font-size:35px;
    color:white;
    cursor:pointer;
    background-color: rgba(0,0,0,0.5);
    padding:0px 10px;
}
#right{
    position:absolute;
    width:100px;
    height:500px;
    top:0;
    right:0;
    /*background-color:blue;*/
}
#right a{
    position:absolute;
    right:0;
    top:40%;
    font-weight:bold;
    font-size:35px;
    color:white;
    cursor:pointer;
    background-color: rgba(0,0,0,0.5);
    padding:0px 10px;
}
.flex-container{
    display:flex;
    display:-ms-flex;
    display:-moz-flex;
    display:-webkit-flex;
    width:100%;
    height:450px;
    background-color:lightgray;
    margin-top:5%;
    justify-content:center;
}
.flexitem{
    width:20%;
    height:380px;
    color:#ffffff;
    margin:2%;
    background-color:#05969b;
    text-align:justify;
    padding:10px;
    border-radius:20px;

}
.heading{
    text-align:center;
    padding:5px;
}
.admin{
    width:100%;
    height:400px;
    margin-top:60px;
    /*background-color:lightgoldenrodyellow;*/
}
.adminheader{
    text-align:center;
    color:#05969b;
}
.img{
    float:left;
    width:25%;
    margin:3%;
    margin-left:5%;
    align-items:center;
    /*background-color:lightgrey;*/
    height:300px;
}
.img figure img{
    border-radius:50%;
}
h3{
    text-align:center;
    color:#05969b;
}
footer{
    width:100%;
    height:80px;
    text-align:center;
    background-color:#05969b;
    color:white;
    padding-top:30px;

}/*.container{
    height:3000px;
}*/
@media screen and (max-device-width: 480px) {

    header {
        height:auto;
        /*background-color:#05969b;*/
    }

    .mainnav{
        display:none;
        padding-top:0px;
        /*float:none;
        text-align:center;*/
    }
    .shownav{
    display:block;
    float:none;
    text-align:center;
}
    .shownav li{
    display:block;
    padding:10px 0px;
    border:2px solid #05969b;
    border-radius:10px;
}
    .icon{
        height:90px;
        line-height:80px;
     }
    .nav-btn{
        display:block;
    }

    .flex-container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .flexitem {
        width: 60%;
    }

    .admin {
        height: 1000px;
    }

    .img {
        width: 90%;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 667px) {
 header {
        height: auto;
        /*background-color:#05969b;*/
    }
 .mainnav{
        display:none;
        padding-top:0px;
        /*float:none;
        text-align:center;*/
    }
    .shownav{
    display:block;
    float:none;
    text-align:center;
}
    .shownav li{
    display:block;
    padding:10px 0px;
    border:2px solid #05969b;
    border-radius:10px;
}
    .icon{
        height:90px;
        line-height:80px;
     }
    .nav-btn{
        display:block;
    }



    .flex-container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .flexitem {
        width: 60%;
    }

    .admin {
        height: 1000px;
    }

    .img {
        width: 90%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .flexitem{
        width:auto;
    }
}
